node_modules/**/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# OSX
#
.DS_Store

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

build/
dist/
node_modules/

# Next.js
/.next/*
/out/
# Next.js production
/build/
# Next.js dependencies
/.pnp
.pnp.js
# @end @expo/next-adapter
/test-results/

.env.local